<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      document.addEventListener('DOMContentLoaded', bindPost);
      function bindPost(){
        document.getElementById('postSubmit').addEventListener('click', function(event){
            var req = new XMLHttpRequest();
            //let some_text = document.getElementById('post').value;
            req.open('POST', '/', true)
            req.setRequestHeader('Content-Type', 'application/json')
            req.onload = function () {
                var response = JSON.parse(req.response)
                console.log('req', req)
                console.log(JSON.parse(req.response))
                //document.getElementById('postData').textContent = response.data;
            }
            req.send(response)
            event.preventDefault();
        })
    }
    function deleteRow(tableID,currentRow) {
      try {
          var table = document.getElementById(tableID);
          var rowCount = table.rows.length;
          for (var i = 0; i < rowCount; i++) {
              var row = table.rows[i];
              /*var chkbox = row.cells[0].childNodes[0];*/
              /*if (null != chkbox && true == chkbox.checked)*/
              
              if (row==currentRow.parentNode.parentNode) {
                  
                  }
                  table.deleteRow(i);
                  rowCount--;
                  i--;
              }
          }
      }
    </script>
  </head>
  <body>
    <form>
      <input type="text" name="Exercise" placeholder="Exercise Name">
      <input type="text"  name="Reps" placeholder="Reps">
      <input type="text" name="Weight" placeholder="Weight">
      <input type="text" name="Date" placeholder="Date">
      <input type="text" name="Unit" placeholder="Pounds or Kilograms?">
      <input type="submit" id="postSubmit" value="Insert Row" >

    </form>
    <h2>Exercise History</h2>
    <table id="exercises" style="border-collapse: collapse;">
      <thead>
          <th style="border-style:solid; border-width:1px; display:none">ID</th>
          <th style="border-style:solid; border-width:1px">Exercise</th>
          <th style="border-style:solid; border-width:1px">Reps</th>
          <th style="border-style:solid; border-width:1px">Weight</th>
          <th style="border-style:solid; border-width:1px">Date</th>
          <th style="border-style:solid; border-width:1px">Pounds?</th>

      </thead>
      {{#each results}}
      <tr>    
          <td style="border-style:solid; border-width:1px; display:none">{{this.id}}</td>  
          <td style="border-style:solid; border-width:1px">{{this.name}}</td>  
          <td style="border-style:solid; border-width:1px">{{this.reps}}</td>
          <td style="border-style:solid; border-width:1px">{{this.weight}}</td>
          <td style="border-style:solid; border-width:1px">{{this.date}}</td>
          <td style="border-style:solid; border-width:1px">{{this.lbs}}</td>

          <input type="button" value="edit" onclick="editRow('exercises',this)" />
          <input type="button" value="delete" onclick="deleteRow('exercises',this)" />
          
       {{/each}}
    </table>
  </body>
</html>
