<!DOCTYPE html>
<html>
  <head>
    <script src = '/javascripts/scripts.js'></script>

    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      document.addEventListener('DOMContentLoaded', bindPost);
      document.addEventListener('submit', doStuff)
    </script>
  
  </head>
  <body>
    <form id="new">
      <input type="text" name="name" placeholder="Exercise Name">
      <input type="number"  name="reps" placeholder="Reps">
      <input type="number" name="weight" placeholder="Weight">
      <input type="date" name="date" placeholder="Date">
      <input type="number" name="lbs" placeholder="1 for lbs and 0 for kgs">
      <input type="submit" id="postSubmit" value="Insert Row" >

    </form>
    <h2>Exercise History</h2>
    <table id="exercises" style="border-collapse: collapse;">
      <thead>
          <th>ID</th>
          <th>Exercise</th>
          <th >Reps</th>
          <th>Weight</th>
          <th >Date</th>
          <th>Pounds?</th>

      </thead>
      <tbody id="tbody">
      {{#each results}}
      {{log this.date}}
      <tr>    
          <td><input id="id" type="number" value={{this.id}}></td>  
          <td><input id="name" type="text" value="{{this.name}}"</td>  
          <td><input id="reps" type="number" value={{this.reps}}></td>
          <td><input id="weight" type="number" value={{this.weight}}></td>
          <td><input id="date" type="date" value={{this.date }}></td>
          <td><input id="lbs" type="number" value={{this.lbs}}></td>
          <td><input type="button" name="edit" value="edit" onclick="editRow(this)"></td>
          <td><input type="button" name="delete" value="delete" onclick="deleteRow(this)"></td>
          
      </tr>     
       {{/each}}
    </tbody>
    </table>
  </body>
</html>
